.userGroup-bg {
  background: #fff;
  line-height: 8px;
  margin-top: 0px;
}
.enter-select {
  margin-left: 86%;
  width: 30%;
  margin-top: 20px;
}
.enter-input .el-input {
  width: 50%;
  margin-top: 20px;
}
.enter-button .el-button {
  margin-top: -40px;
  margin-left: 58%;
  position: absolute;
}
.enter-button {
  position: relative;
}
.table-button .el-button {
  width: 10%;
  height: 10%;
  line-height: 10px;
  margin: 0 auto;
  background: #009688;
  color: #ffffff;
  font-size: 14px;
}
.table-button i {
  display: flex;
  justify-content: center;
}
.table-edit {
  line-height: 10px;
  margin: 0 auto;
  background: #ffb800;
  color: #ffffff;
  font-size: 14px;
  border: 0;
}
.table-edit i {
  display: flex;
  justify-content: center;
}
.table-del {
  line-height: 10px;
  margin: 0 auto;
  background: #ff5722;
  color: #ffffff;
  font-size: 14px;
  border: 0;
}
.table-del i {
  display: flex;
  justify-content: center;
}
.con p {
  font-size: 16px;
  margin-left: 80px;
}
.el-input {
  width: 180px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
}
.avatar-uploader {
  border: 1px dashed #6d6c6c;
  width: 100px;
  height: 100px;
  margin-left: 150px;
  margin-top: 30px;
}
.enter-photo {
  position: relative;
}
.text {
  margin-left: 80px;
  margin-top: 10px;
  position: absolute;
}
.usergroup-input {
  font-size: 16px;
  margin-left: 60px;
  margin-top: 30px;
}
.usergroup-input {
  margin-left: 70px;
  margin-top: 30px;
  font-size: 16px;
}
.el-input {
  width: 30%;
}
.con-three .el-select {
  width: 61%;
}
.allTable {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: Center;
  overflow: hidden;
}
.allTable .el-dialog {
  margin: 20 auto !important;
  height: 70%;
  overflow: hidden;
}
.allTable .el-dialog .el-dialog__body {
  position: absolute;
  left: 0;
  top: 54px;
  bottom: 0;
  right: 0;
  padding: 0px 20px;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
}
.dialog-footer {
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.usergroup-tree p {
  padding-left: 82px;
  font-size: 16px;
  padding-top: 20px;
}
.usergroup-tree .qx-tree {
  margin-left: 170px;
}
