.nav-bar {
  margin-top: 55px;
  height: 38px;
  width: 100%;
  z-index: 8;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
}
.nav-bar .itohome i {
  font-size: 20px;
  margin: 5px;
}
.nav-bar .nav-bar-tag {
  height: 26px;
  color: #495060;
  margin: 6px 2px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 26px;
  border: 1px solid #ebeef5;
  border-radius: 2px;
  display: inline-block;
}
.nav-bar .nav-bar-tag .close-box {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #ebeef5;
  margin-left: 6px;
}
.nav-bar .nav-bar-tag:hover {
  opacity: 0.85;
}
.nav-bar .nav-bar-tag .point {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto 0;
  position: relative;
  background: #fff;
}
.nav-bar .nav-bar-tag .el-icon-close {
  font-weight: bolder;
  margin-left: 6px;
}
.nav-bar .nav-bar-tag .el-icon-close:hover {
  color: #ff0000;
}
.nav-bar .active {
  border: 1px solid #3d8dbc;
  background: #3d8dbc;
  color: #fff;
}
.nav-bar .active .point {
  display: inline-block;
}
.nav-bar .scroll-container {
  flex: 1;
  height: 100%;
}
