.big{
    padding: 30px 20px ;
}
.bgColor{
    background-color: #fff;
    padding: 10px;
}
header{
    padding: 10px;
}
.el-row{
    text-align: right;
    padding-top: 10px;
}
.el-row .el-button:first-child{
    background-color: #009688;
    color: #fff;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 80px;
    height: 100px;
    display: block;
  }